# Backend
target/
*.log

# Frontend
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

backend/target/
.idea/

# Files
DAW-Sistema-Gestion-Citas-Medicas.iml
backend/src/main/resources/application.properties